.moscowPeople {
  position: relative;
  height: auto;
  padding: 100px 0;
}

.moscowPeople__wrapper-ironMan {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  padding: 0 15px;
  opacity: 0.2;
  transition: opacity 0.7s cubic-bezier(0.33, 1, 0.68, 1);
  will-change: opacity;
}

.moscowPeople__wrapper-ironMan-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.moscowPeople__ironMan-img-1 {
  display: block;
  max-width: 50vw;
  height: auto;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.moscowPeople__icon {
  width: 60px;
  height: 60px;
  fill: var(--c-light-grey);
}

.moscowPeople__icon:hover {
  cursor: pointer;
  fill: var(--c-grey-hover);
}

.moscowPeople__ironMan-img-3 {
  display: none;
  opacity: 0;
  max-width: 50vw;
  height: auto;
  object-fit: cover;
  transition: opacity 0.1s ease;
}

.moscowPeople__ironMan-img-2 {
  max-width: 50vw;
  height: auto;
  object-fit: cover;
}

.moscowPeople__wrapper-sexyLady {
  padding: 100px 15px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.moscowPeople__sexyLady-img {
  position: relative;
  max-width: 45vw;
  height: auto;
  object-fit: cover;
}

.moscowPeople__wrapper-moscowMan {
  padding: 100px 15px;
  display: flex;
  justify-content: center;
  position: relative;
}

.moscowPeople__moscowMan-img {
  max-width: 30vw;
  height: auto;
  object-fit: cover;
}

.moscowPeople__moscowMan-img_2 {
  display: block;
}
.moscowPeople__moscowMan-img_hidden {
  display: block;
  opacity: 1;
}

.moscowMan__icon {
  display: none;
  position: absolute;
  top: 99vw;
  left: 15%;
  cursor: pointer;
  z-index: 10;
  fill: var(--c-light-grey);
}

@media (max-width: 992px) {
  .moscowPeople__ironMan-img-2 {
    max-width: 45vw;
  }
  .moscowPeople__sexyLady-img {
    max-width: 40vw;
  }
  .moscowPeople__icon {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 620px) {
  .moscowPeople__wrapper-sexyLady {
    flex-wrap: wrap;
    gap: 75px;
  }
  .moscowPeople__sexyLady-img {
    max-width: 85vw;
  }
  .moscowPeople__icon {
    width: 45px;
    height: 45px;
  }
  .moscowPeople__wrapper-ironMan {
    flex-wrap: wrap;
    opacity: 1 !important;
  }

  .moscowPeople__ironMan-img-1,
  .moscowPeople__ironMan-img-3,
  .moscowPeople__ironMan-img-2 {
    max-width: 85vw;
  }
  .moscowPeople__wrapper-moscowMan {
    flex-wrap: wrap;
    padding: 0 15px;
    gap: 75px;
  }
  .moscowPeople__moscowMan-img {
    max-width: 85vw;
  }

  .moscowPeople__moscowMan-img_2 {
    display: none;
  }
  .moscowPeople__moscowMan-img_hidden {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
  }
  .moscowMan__icon {
    display: block;
  }
}
