.setInForest {
  height: auto;
  padding: 100px 0;
}

.setInForest__wrapper-river {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 0 15px 100px;
}

.setInForest__wrapper-river-img-1 {
  /* max-height: 50vw; */
  max-width: 60vw;
  object-fit: cover;
  transition: transform 0.7s cubic-bezier(0.33, 1, 0.68, 1);
  will-change: transform;
  transform: scale(0.75);
  transform-origin: center center;
}

.setInForest__wrapper-river-img-2 {
  max-height: 50vw;
  object-fit: cover;
}

.setInForest__wrapper-forest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 100px 15px;
}

.setInForest__wrapper-forest-img {
  max-width: 35vw;
  max-height: 50vw;
  height: auto;
  object-fit: cover;
}

.tsenevRiver__icon {
  display: none;
  top: 99vw;
  right: 15%;
  left: initial;
  fill: var(--c-white);
}

.forestWomen__icon {
  display: none;
  top: 107vw;
  left: 15%;
  fill: var(--c-light-grey);
}

@media (max-width: 992px) {
  .setInForest__wrapper-river-img-2 {
    max-height: 35vw;
    object-fit: cover;
  }
}

@media (max-width: 620px) {
  .setInForest__wrapper-river {
    flex-wrap: wrap;
    padding: 0 15px 50px;
    position: relative;
  }
  .setInForest__wrapper-river-img-1 {
    max-width: 85vw;
  }
  .setInForest__wrapper-river-img-2 {
    max-height: initial;
    max-width: 85vw;
  }
  .setInForest__wrapper-forest {
    flex-wrap: wrap;
    gap: 75px;
    padding: 50px 15px;
    position: relative;
  }
  .setInForest__wrapper-forest-img {
    max-width: 85vw;
    max-height: inherit;
  }
  .tsenevRiver__icon {
    display: block;
  }
  .forestWomen__icon {
    display: block;
  }
}
