.show {
  padding: 250px 0;
  width: 100%;
  transition: opacity 0.8s cubic-bezier(0.33, 1, 0.68, 1);
  overflow: hidden;
}

.show__wrapper {
  position: relative;
  padding: 0 15px;
  height: 871px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
}

.show__img {
  max-width: 50%;
  height: 871px;
  opacity: 0.7;
  object-fit: cover;
  aspect-ratio: 436/465;
  opacity: 0;
  transition: opacity 0.1s linear;
  will-change: opacity;
}

/* .show__img:hover {
  opacity: 1 !important;
  z-index: 5;
} */

.show__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 150px;
}

.show__content .beauty__text-en {
  max-width: 935px;
  font-size: 29px;
  height: 158px;
  text-align: end;
}

.show__content .beauty__text-ru {
  margin-right: 10px;
  max-width: 62%;
  height: auto;
  position: absolute;
  top: 88%;
  right: 0;
  translate: 0 -50%;
  /* left: 500px; */
  font-size: 48px;
  letter-spacing: 0.4px;
}

@media (max-width: 1440px) {
  .show__content .beauty__text-en {
    height: auto;
    font-size: 28px;
  }
  .show__content .beauty__text-ru {
    font-size: 37px;
  }
}

@media (max-width: 1200px) {
  .show__wrapper {
    height: 635px;
  }
  .show__img {
    height: 635px;
  }
  .show__content .beauty__text-en {
    font-size: 18px;
  }
  .show__content .beauty__text-ru {
    font-size: 29px;
    max-width: 62%;
    top: 82%;
  }
}

@media (max-width: 992px) {
  .show {
    padding: 150px 0;
  }
}

@media (max-width: 768px) {
  .show__wrapper {
    height: 394px;
  }
  .show__img {
    height: 394px;
  }
  .show__content .beauty__text-en {
    font-size: 16px;
  }
  .show__content .beauty__text-ru {
    font-size: 22px;
    max-width: 584px;
    top: 82%;
  }
}

@media (max-width: 656px) {
  .show__wrapper {
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  .show__content {
    z-index: 1;
  }

  .show__content .beauty__text-ru {
    top: -12%;
    text-align: center;
  }
  .show__img {
    max-width: 100%;
    height: 548px;
    opacity: 1 !important;
  }
  .show__content .beauty__text-en {
    text-align: center;
  }
}
