* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
}

.wrapper-menu {
  position: fixed;
  z-index: 15;
  top: 135px;
  left: 120px;
  display: flex;
  align-items: center;
}

.title-menu {
  font-size: 42px;
  font-weight: 400;
  flex-shrink: 0;
  color: var(--c-light-grey);
}

.title-menu:hover {
  color: var(--c-grey-hover);
}

.burger-menu {
  width: 24px;
  height: 20px;
  flex-shrink: 0;
  display: none;
  color: var(--c-light-grey);
  cursor: pointer;
}

.burger-menu:hover {
  color: var(--c-grey-hover);
}

@media (max-width: 1440px) {
  .wrapper-menu {
    top: 91px;
    left: 45px;
  }
  .title-menu {
    font-size: 32px;
  }
}

@media (max-width: 1200px) {
  .wrapper-menu {
    top: 80px;
    left: 35px;
    font-size: 28px;
  }
  .title-menu {
    font-size: 28px;
  }
}

@media (max-width: 992px) {
  .wrapper-menu {
    top: 65px;
  }
}

@media (max-width: 768px) {
  .wrapper-menu {
    top: 50px;
    font-size: 26px;
  }
  .title-menu {
    font-size: 26px;
  }
}

@media (max-width: 610px) {
  .wrapper-menu {
    top: 40px;
    font-size: 20px;
  }
  .title-menu {
    font-size: 20px;
  }
}

@media (max-width: 435px) {
  .wrapper-menu {
    left: 10px;
    top: 43px;
  }
  .title-menu {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
